<li class="row">
  <div class="alpha twelve columns info-container">
    <h3><%= slot.truck.name %></h3>
    <p><%= slot.neighborhood %> <em><%= slot.period %></em></p>
  </div>
  <div class="omega four columns more-link-container">
    <p><%= link_to 'More information &rarr;'.html_safe, truck_path(slot.truck) %></p>
  </div>
</li>