$footerHeight: 200px;

body {
  height: auto;
  padding-bottom: $footerHeight;
}

#footer {
  font-family: "museo-sans-condensed";
  position: fixed; 
  bottom: 0;
  left: 50%;
  width: 960px;
  margin-left: -480px;
  background-color: #fff;

  p {
    text-align: center;
  }
}