h1.logo {
  margin-top: 12px;

  a:active, a:visited, a:hover, a {
    text-decoration: none;
  }
}

.drilldown div {
  border-right: 1px solid #fff;
  padding-right: 12px;

  select {
    width: 293px;
  }
}
.drilldown div:last-child {
  padding-right: 14px;
  border-right: none;
}
