@import 'globals';

h1 {
  font-size: 3em;
  font-family: "bello-pro";
}

div.flash {
  background-color: $colorone;
  padding: 10px 10px 10px 10px;
  text-align: center;
  margin-bottom: 24px;
  font-size: 1.25em;
  font-weight: 500;
  color: $colorfive;
  font-family: "museo-sans-condensed";
}

.drilldown div {
  font-family: "museo-sans-condensed";

  background-color: $colorthree;
  margin-bottom: 24px;
  p {
    font-size: 1.25em;
  }

  p, select {
    margin-left: 10px;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

em {
  font-weight: 700;
  font-style: normal;
}

body {
  overflow-y: scroll;
}

h3 {
  font-family: "museo-sans-condensed";
}