@import 'globals';

ul.trucks {
  li {
    font-size: 1.20em;
    border-bottom: 1px lighten($colorfive, 50%) solid;

    div.info-container {
      em {
        margin-left: 12px;
        font-style: normal;
        font-weight: 700;
      } 
    }

    div.more-link-container {
      text-align: right;
    }
  }
}