@import 'globals';

ul.trucks {
  font-family: "museo-sans-condensed";
  
  li {
    font-size: 1.20em;
    border-bottom: 1px $borderColor solid;

    div.info-container {
      em {
        font-style: normal;
        font-weight: 700;
      } 
    }

    div.more-link-container {
      text-align: right;
    }
  }
}

.truck {
  font-family: "museo-sans-condensed";

  .header {
    border-bottom: 1px $borderColor solid;

    p {
      margin-bottom: 0.6em;
    }
  }

  p {
    font-size: 1.20em;
  }

  .description {
    margin-top: 2.40em;
  }

  .kind {
    float: left;
  }

  .links {
    float: right;
    a {
      text-decoration: none;
      i {
        margin-right: 12px;
      }
    }
  }

  .details {
    height: 1.20em;
    padding-bottom: 0.6em;
  }

}

.truck-map {
  font-family: "museo-sans-condensed";

  .map-canvas {
    width: 100%;
    height: 460px;
  }

  ul.locations {
    font-family: "museo-sans-condensed";
    margin-top: 24px;
    display: table;
    border-collapse: collapse;

    li.active .icon, li.active:hover .icon {
      display: inline-block;
      color: $iconColor;
    }

    li {
      display: table-row;
      min-height: 36px;
      width: 460px;
      padding-bottom: 0.6em;
      border-bottom: 1px $borderColor solid;
      font-size: 1.20em;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: moz-none;
      -ms-user-select: none;
      user-select: none;

      .icon-container {
        display: table-cell;
        vertical-align: middle;
        max-width: 25px;
        min-width: 25px;
      }

      .icon {
        font-size: 34px;
        display: none;
      }

      &:hover {
        cursor: pointer;
      }

      &:hover .icon {
        display: block;
        color: $colorthree;
      }

      .details {
        display: table-cell;
        width: 460px;
        padding-top: 0.6em;
        padding-left: 0.6em;
        padding-bottom: 0.6em;

        .detail-neighborhood {
          font-weight: 700;
        }

      }
    }
  }
}