<%# Template for the drilldown menus - e.g. by hood/by time %>
<div class="drilldown tk-museo-sans-condensed">
  <div class="eight columns">
  <p>By <em>neighborhood:</em></p>
  <%= select_tag :test %>
  </div>
  <div class="eight columns">
  <p>By <em>weekday:</em></p>
  <%= select_tag :test %>
  </div>
</div>